/src/WY.RMS.Web/bin
bin
obj

src/WY.RMS.Web/Web.Debug.config
src/WY.RMS.Web/Web.Release.config
src/WY.RMS.Web/WY.RMS.Web.csproj.user
*.suo
src/WY.MVC.RMS.v12.suo
*.suo
*.user
*.pubxml
src/WY.RMS.Web/Properties/PublishProfiles/xiaowu.pubxml.user
*.user
src/WY.RMS.Web/Properties/PublishProfiles/xiaowu.pubxml
*.user
src/WY.RMS.Web/Properties/PublishProfiles/xiaowu.pubxml
*.user
*.suo
*.user
