@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            主页
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard active"></i> 主页</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <h2>欢迎登录，此为首页</h2>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
